.shadow_primary {
	box-shadow: inset 0 0 0 0 theme('colors.primary');
	transition: box-shadow 300ms;
}

.shadow_green {
	box-shadow: inset 0 0 0 0 theme('colors.green');
	transition: box-shadow 300ms;
}

@media screen and (min-width: theme('screens.xl')) {
	.shadow_primary:hover {
		box-shadow: inset 400px 0 0 0 theme('colors.primary');
	}

	.shadow_green:hover {
		box-shadow: inset 400px 0 0 0 theme('colors.green');
	}
}
