.inner {
	background-image: linear-gradient(to right bottom, #ffe3e1, #ffe7e0, #ffece0, #fff0e1, #fff5e4);
	border-radius: 20px;
}

.content__title {
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 3rem;
}
